<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066138102810-fe4n7trr109o71e6pd0e24m1lofn1ml8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066138102810-fe4n7trr109o71e6pd0e24m1lofn1ml8</string>
	<key>API_KEY</key>
	<string>AIzaSyDzKUWiP416misVbn-0UAAZksXL6NsqmWc</string>
	<key>GCM_SENDER_ID</key>
	<string>1066138102810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialRestaurantApp</string>
	<key>PROJECT_ID</key>
	<string>socialrestaurantapp-3da59</string>
	<key>STORAGE_BUCKET</key>
	<string>socialrestaurantapp-3da59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066138102810:ios:9f9da1154bd5b00323b5a3</string>
</dict>
</plist>